# Ignore 3D models
*.slo
*.obj
*.lo
*.o
*.fbx

# Compilation products
*.lai
*.la
*.a
*.lib

# Compiled Executables
*.o
*.out
*.app
*.exe

# DLLs
.so
*.dylib
*.dll

# Headers
*.gch
*.pch

*.d

# VS Code stuff
.vscode 

# CMake
*.CMake
CMakeCache.txt
Makefile
build
CPM_Modules
CMakeFiles
_deps

# Imgui Ini file
*.ini

# Screenshots will be added back later
screenshots